{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}<em>Already have an account? Then please</em> <a href="{{ login_url }}" class="btn btn-sm btn-secondary">Login</a>{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% crispy form %}
</form>

{% endblock %}