{% extends "base.html" %}
{% block content %}
<h1><i class="fas fa-info-circle"></i> About</h1>
<div class="content-box">

    <p class="h4">What is Smart Hub?</p>
    <p class="ps-2">Smart Hub is an open source application designed to allow Internet of Things (IoT) devices to
        communicate with each other, with Smart Hub acting as the integration platform.</p>

    <p class="h4">Can I contribute to it's development?</p>
    <p class="ps-2">Yes! All contributions are appreciated, you can view the code and find out more at the project<a
            href="https://github.com/jyoung90ie/qub-dissertation" target="_blank">GitHub Repo</a>.</p>



    <p class="h4">What protocols does it support?</p>
    <p class="ps-2">At present, it supports the following protocols:
    <ul>
        <li>Zigbee</li>
    </ul>
    Given the open source development, it is expected that this list will continue to grow overtime. If the protocol you
    need is not supported, you are welcome to develop it and create pull request on GitHub - or let us know and we'll
    priortise based on demand.

    <p class="h4">How does it work?</p>
    <p class="h5 ps-1">Zigbee</p>
    <p class="ps-3">For Zigbee communication to work, a MQTT broker must be setup to communicate with the Zigbee
        devices. Smart Hub can then be configured to connect to the MQTT broker with the relevant device topics (i.e.
        the channel each device is publishing to). With these configurations in place, Smart Hub will then facilitate
        all communication to and from the devices - based on your personal configurations.</p>
    <div>
        <h2>What can Smart Hub do?</h2>
        <p>Good question!</p>
        <ul>
            <li>Secure your home smart devices and automations with an authentication system</li>
            <li>Create automations using event triggers and responses</li>
            <li>View device communication logs</li>
            <li>Export logs in CSV for data analysis</li>
            <li>Receive notifications when events are triggered, on your mobile device/tablet/computer/email/etc.</li>
            <li>Create <em>states</em> for your devices that can be toggled, e.g. turning devices on and off, or setting
                RGB
                light bulb values.</li>
            <li>Group devices by geographic location - in future you will be able to create location events and/or
                toggle location devices</li>
            <li>Store your home GPS location - in future you will be able to use this to create automations, when you
                leave or get close to home.</li>
        </ul>

    </div>

</div>
{% endblock %}