{% extends "base.html" %}
{% load tz %}
{% block content %}
<div class="text-center">
    <h1><i class="fas fa-file-download me-2"></i>Device Logs</h1>
    <h2><strong>{{ device }}</strong></h2>
    {% include "devices/partials/_user_options_logs.html" %}
    <p class="m-2 mt-4 text-start">This is a list of all communications from your device since it was synchronised with
        Smart Hub. These logs areraw and unprocessed, what you see is exactly what was received and when. It can be
        helpful to review these logs to see the typical value ranges before you create <strong>Event Triggers</strong>
        and/or <strong>Device States</strong>.</p>
</div>
{% if logs %}


<div class="mt-4 table-responsive">
    <table class="table table-hover table-striped" id="device-list">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Received At</th>
                <th scope="col">Raw Message</th>
            </tr>
        </thead>
        <tbody>
            {% for message in page_obj %}
            <tr class="log-row">
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ message.created_at|localtime }}</td>
                <td>{{ message.raw_message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav class="mt-3 pb-5" aria-label="Navigate device logs">
    {% include "partials/_pagination.html" %}
</nav>


{% else %}
<p>There are no logs for this device.</p>
{% endif %}
{% endblock %}