{% extends "base.html" %}
{% block content %}

<div>
    <h1 class="d-inline"><i class="fas fa-globe-europe"></i> Device Locations</h1>
    <a href="{% url 'devices:locations:add' %}" class="btn btn-success btn-sm">
        <i class="fas fa-plus" title="Add new device location"></i>
    </a>
    <p class="m-2">Locations provide a way of grouping devices together by geographic location. However,
        <em>location</em> is open to whatever intrepration you wish to use it for. Whilst locations are no more than a
        reporting grouping at present, in future they will enable you to create triggers and event responses for
        multiple devices at once.
    </p>
</div>


{% if device_locations %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Location</th>
                <th scope="col">Total Devices</th>
                <th scope="col">Total Linked Devices</th>
                <th scope="col">Created On</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for location in device_locations %}
            <tr class="devicelocation-row"
                onclick='window.location="{% url "devices:locations:detail" uuid=location.uuid %}";'>
                <td>{{ forloop.counter }}</td>
                <td>{{ location.location|title }}</td>
                <td>{{ location.device_set.count }}</td>
                <td>{{ location.total_linked_devices }}</td>
                <td>{{ location.created_at|date:"d M Y" }}</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="{% url 'devices:locations:detail' uuid=location.uuid %}">
                        <i class="fas fa-eye" title="View devices in this location"></i>
                    </a>
                    {% include "devices/partials/_user_options_devicelocation.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav class="mt-3 pb-5" aria-label="Navigate your devices">
    {% include "partials/_pagination.html" %}
</nav>
{% else %}
<p class="context-box">You have not added any locations for your devices yet.</p>
{% endif %}
{% endblock %}