{% extends "base.html" %}
{% load icons %}
{% block content %}
<div>
    <h1 class="d-inline"><i class="fas fa-calendar" title="my events"></i> Events</h1>
    <a href="{% url 'events:add' %}" class="btn btn-success btn-sm">
        <i class="fas fa-plus" title="Create new event"></i>
    </a>
</div>
{% if events %}

<div class="pt-3 table-responsive">
    <table class="table table-hover table-striped" id="event-list">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 30%">Description</th>
                <th scope="col">Triggers</th>
                <th scope="col">Responses</th>
                <th scope="col">Enabled?</th>
                <th scope="col">Total Triggered</th>
                <th scope="col">Last Triggered</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="event-row text-center"
                onclick='window.location="{% url "events:event:detail" uuid=event.uuid %}";'>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td class="text-start">{{ event.description|capfirst }}</td>
                <td>{{ event.eventtrigger_set.all.count }}</td>
                <td>{{ event.eventresponse_set.all.count }}</td>
                <td>{{ event.is_enabled|to_status_icon }}</td>
                <td>{{ event.eventtriggerlog_set.all.count }}</td>
                <td>{{ event.eventtriggerlog_set.last.created_at }}</td>
                <td>
                    {% include "events/partials/_user_options_view_event.html" %}
                    {% include "events/partials/_user_options_event.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav class="mt-3 pb-5" aria-label="Navigate your events">
    {% include "partials/_pagination.html" %}
</nav>
{% else %}
<p>You have not yet created any events.</p>
{% endif %}

{% endblock %}