{% extends "base.html" %}
{% load icons %}
{% block content %}
<div>
    <h1 class="d-inline"><i class="fas fas fa-robot me-2"></i>Event Detail</h1>
    {% include "events/partials/_user_options_event.html" %}

</div>


<div class="mt-3">
    <div class="row content-box">
        <div class="fw-bold col-4 col-md-2">Description</div>
        <div class="col-8 col-md-10 mb-3">{{ event.description|capfirst }}</div>
        <div class="fw-bold col-4 col-md-2">Enabled?</div>
        <div class="col-8 col-md-10 mb-3">{{ event.is_enabled|to_status_icon }}</div>
        <div class="fw-bold col-4 col-md-2">Send Notifications?</div>
        <div class="col-8 col-md-10 mb-3">{{ event.send_notification|to_status_icon }}</div>
        <div class="fw-bold col-4 col-md-2">Notification Topic</div>
        <div class="col-8 col-md-10 mb-3">{{ event.notification_topic|capfirst }}</div>
        <div class="fw-bold col-4 col-md-2">Notification Message</div>
        <div class="col-8 col-md-10 mb-3">{{ event.notification_message|capfirst }}</div>
    </div>

    <div class="mt-5 text-muted">
        <h2 class="h5 m-3 d-inline">
            <i class="fas fa-sitemap me-3"></i> Event Triggers
        </h2>
        {% if user.total_linked_devices > 0 %}
        {% include "events/partials/_user_options_add_event_trigger.html" %}
        {% endif %}
        <p class="m-2">Event Triggers are used to invoke an action when the device trigger condition is satisfied. It is
            important to note that event triggers are independent of each other, i.e. if any of the triggers conditions
            are statisfied, the event will be invoked (each event trigger is an OR condition).<em>You can create an
                Event Trigger by clicking the button above.</em>
        </p>
        <div class="row content-box table-responsive">
            {% if user.total_linked_devices > 0 %}
            {% for trigger in event.eventtrigger_set.all %}
            {% if forloop.first %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Device</th>
                        <th scope="col">Location</th>
                        <th scope="col">Device Data</th>
                        <th scope="col" style="width: 20%">Trigger Condition</th>
                        <th scope="col">Value</th>
                        <th scope="col">Enabled?</th>
                        <th scope="col">Options</th>

                    </tr>
                </thead>
                <tbody>
                    {% endif %}
                    <tr class="event-trigger-row"
                        onclick='window.location="{% url "events:event:triggers:trigger:update" uuid=event.uuid tuuid=trigger.uuid %}";'>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ trigger.device.friendly_name|title }}</td>
                        <td>{{ trigger.device.location|title }}</td>
                        <td>{{ trigger.metadata_field|title }}</td>
                        <td>{{ trigger.trigger_type|upper }}</td>
                        <td>{{ trigger.metadata_trigger_value }}</td>
                        <td>{{ trigger.is_enabled|to_status_icon }}</td>
                        <td>
                            {% include "events/partials/_user_options_event_trigger.html" %}
                        </td>
                    </tr>
                    {% if forloop.last %}
                </tbody>
            </table>
            {% endif %}
            {% empty %}
            <p>This event does not yet have any triggers - add some triggers to kick the automation in to gear!</p>
            {% endfor %}
            {% else %}
            <p>You cannot create event triggers until you have a linked device - see <a href="{% url 'help' %}">Help</a>
                {% endif %}
        </div>

    </div>



    <div class="mt-5 text-muted">
        <h2 class="h5 m-3 d-inline">
            <i class="fas fa-cogs me-2"></i>Event Responses
        </h2>
        {% if user.total_linked_devices > 0 %}
        {% include "events/partials/_user_options_add_event_trigger.html" %}
        {% endif %}
        <p class="m-2">Event Responses are automatically invoked when an Event has been triggered by any of the Event
            Triggers. For example, if you would like a device to be turned on (or off) in response to some external
            trigger (e.g. motion in a room), then you would add the Device here and select the Device State that
            corresponds to what you wish for. NOTE: You must have at least one Device State created (see <a
                href="{% url 'devices:list' %}">Devices</a> for more information).
        </p>
        <div class="row content-box table-responsive">
            {% if user.total_linked_devices > 0 %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Device</th>
                        <th scope="col">State when triggered</th>
                        <th scope="col">Enabled?</th>
                        <th scope="col">Options</th>

                    </tr>
                </thead>
                <tbody>

                    <tr class="event-response-row" onclick='window.location="";'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
            <p>This event does not yet have any responses - begin the transistion to an easier life by adding some!</p>
            {% else %}
            <p>You cannot create an event response until you have a linked device - see <a
                    href="{% url 'help' %}">Help</a>
                {% endif %}
        </div>

    </div>

</div>
{% endblock %}


{% block extra_body %}
<script src=" https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
{% endblock %}