{% extends "base.html" %}
{% block content %}
<h1>Smart Hub</h1>
<p>Smart Hub helps you manage your Internet of Things (IoT) devices on your home network. It enables you to integrate
    devices from all supported protocols and brands - helping you take back control - your home, auomated.</p>

{% if not user.is_authenticated %}
<p>To start using this application you will need to create an account, either by registering, or by logging in via an
    existing social account (e.g. Gmail). Then the fun begins!</p>

<div class="homepage-account-links">
    <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'account_signup' %}" class="btn btn-secondary">Register</a>
</div>
{% endif %}
</p>
{% endblock %}