{% extends "base.html" %}
{% load icons %}
{% block content %}
<div>
    <h1 class="d-inline"><i class="fas fa-bell" title="my notifications"></i> Notification Channels</h1>
    <a href="{% url 'notifications:add' %}" class="btn btn-success btn-sm">
        <i class="fas fa-plus" title="Setup new notification channel"></i>
    </a>
    <p class="mt-2">Notification channels set out how Smart Hub should notify you when events you have defined have been
        triggered.
        You will be notified by each of the enabled channels below each time an event has been triggered. <br />
        <strong>Note:</strong> you can only create one notification setting per channel - channel being the medium by
        which
        you will received the notification (e.g. email).
    </p>
</div>
{% if notifications %}

<div class="pt-3 table-responsive">
    <table class="table table-hover table-striped" id="notification-mediums-list">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Method</th>
                <th scope="col">Status</th>
                <th scope="col">Total Notifications</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr class="notification-row" onclick='window.location="{% url 'notifications:notification:update' uuid=notification.uuid %}";'>
                <td>{{ forloop.counter }}</td>
                <td>{{ notification.notification_medium }}</td>
                <td>{{ notification.is_enabled|to_status_icon }}</td>
                <td>TBC</td>

                <td>
                    {% include "notifications/partials/_user_options.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p>You have not yet set any notifications channels - click the green button above to do so.</p>
{% endif %}

{% endblock %}