{% extends "base.html" %}
{% load crispy_forms_tags %}
{% debug %}
{% block content %}
<h1><i class="fas fa-plus-square"></i> Setup Notification Channel</h1>
{% crispy form %}
{% endblock %}

{% block extra_body %}
<script>
    $(document).ready(function (event) {
        notification_medium = $("#id_notification_medium").val()

        pushbullet_class = ".pushbullet-notification-setup";
        email_class = ".email-notification-setup";

        if (notification_medium == "Pushbullet") {
            $(pushbullet_class).removeClass("d-none");
            $(email_class).addClass("d-none")
        } else if (notification_medium == "Email") {
            $(email_class).removeClass("d-none");
            $(pushbullet_class).addClass("d-none");
        }
    })
</script>
{% endblock %}