{% extends "base.html" %}
{% load icons %}
{% block content %}
{% with is_linked=device.is_linked %}
<div>
    <h1 class="d-inline"><i class="fas fa-laptop-house me-2"></i>{{ device.friendly_name }}</h1>
    {% include "devices/partials/_user_options_device.html" %}
    {% if is_linked %}
    {% include "devices/partials/_additional_options_device.html" %}
    {% endif %}
</div>


<div class="mt-3">
    <div class="row content-box">
        <div class="fw-bold col-4 col-md-2">Friendly Name</div>
        <div class="col-8 col-md-4">{{ device.friendly_name|title }}</div>
        <div class="fw-bold col-4 col-md-2">Device Identifier</div>
        <div class="col-8 col-md-4">{{ device.device_identifier|upper }}</div>
        <div class="fw-bold col-4 col-md-2">Location</div>
        <div class="col-8 col-md-4">{{ device.location|title }}</div>
        <div class="fw-bold col-4 col-md-2">Protocol</div>
        <div class="col-8 col-md-4">{{ device.protocol|upper }}</div>
    </div>

    <div class="mt-5 text-muted">
        <h2 class="h5 m-3 d-inline">
            <i class="fas fa-sliders-h me-3"></i>Device States
        </h2>
        {% if user.total_linked_devices > 0 %}
        {% include "devices/partials/_user_options_add_device_state.html" %}
        {% endif %}
        <p class="m-2 mb-3">When an event has been triggered, the device state associated with that event will be
            communicated to the device. What does this mean? It means if you want your device to react a particular way
            to an event, you can create a state here, with the configuration settings (see your device manual for
            relevant options) and your device will react accordingly.
        </p>
        <div class="row mt-2 content-box table-responsive">
            {% for state in device.get_linked_device.first.device_states.all %}
            {% if forloop.first %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Command</th>
                        <th scope="col">Value</th>
                        <th scope="col">Number of Events</th>
                        <th scope="col">Options</th>

                    </tr>
                </thead>
                <tbody>
                    {% endif %}
                    <tr class="event-trigger-row"
                        onclick='window.location="{% url "devices:device:states:state:update" uuid=device.uuid suuid=state.uuid %}";'>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ state.name|capfirst }}</td>
                        <td>{{ state.command|upper }}</td>
                        <td>{{ state.command_value|upper }}</td>
                        <td>TBC</td>
                        <td>

                        </td>
                    </tr>
                    {% if forloop.last %}
                </tbody>
            </table>
            {% endif %}
            {% empty %}
            <p class="m-0">This device does not yet have any states - you can add some using the button above.</p>
            {% endfor %}
        </div>
    </div>


    <div class="row mt-5 text-muted">
        <div class="col-md-7">
            <h2 class="h5 m-3">
                <i class="fas fa-info me-3"></i> Hardware information
            </h2>
            <div class="row content-box">
                <div class="fw-bold col-6">Status</div>
                <div class="col-6 fs-3">
                    {{ is_linked|to_status_icon }}
                </div>

                {% if is_linked %}

                {% for dict in device.get_linked_device.all.values %}
                {% for type, value in dict.items %}
                <div class="fw-bold col-4 mb-2">{{ type|upper }}</div>
                <div class="col-8 mb-2">{{ value }}</div>
                {% empty %}
                Hardware device data has not been captured.
                {% endfor %}
                {% endfor %}
                {% else %}
                <span class="m-2">Your device has not yet been linked to a hardware device. Please ensure that the
                    device identifier
                    matches the hardware device <em>ieee_address</em> or the <em>friendly_name</em> matches the
                    device's.
                </span>
                {% endif %}
            </div>
        </div>
        {% if is_linked %}
        <div class="col-md-5">
            <h2 class="h5 m-3">
                <i class="fas fa-server me-3"></i>Last update from device
            </h2>
            <div class="row content-box table-responsive">

                {% with logs=device.get_lastest_zigbee_logs %}
                {% if logs %}
                {% for log in logs %}
                {% if forloop.first %}
                <table>
                    <caption>
                        <em>Most recent data update from device.</em>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Data Type</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% endif %}
                        <tr>
                            <td>{{ log.metadata_type }}</td>
                            <td><em>{{ log.metadata_value }}</em></td>
                        </tr>
                        {% if forloop.last %}
                    </tbody>
                </table>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No data received from the device.</p>
                {% endif %}
                {% endwith %}

            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endwith %}
{% endblock %}

{% block extra_body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
{% endblock %}