<nav class="navbar navbar-light navbar-expand-md" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Smart Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Devices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Network Traffic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Routines</a>
        </li>
      {% endif %}
       
      </ul>
      <ul class="navbar-nav account-navbar">
      {% if user.is_authenticated %}
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'account_profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'account_email' %}">Change Email</a></li>
            <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a></li>
            <li><a class="dropdown-item" href="{% url 'socialaccount_connections' %}">Social Accounts</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Register</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>