<a class="btn btn-sm btn-primary" href="{% url 'devices:device:update' uuid=device.uuid %}">
    <i class="far fa-edit" title="Update device"></i>
</a>
<a class="btn btn-sm btn-danger" href="{% url 'devices:device:delete' uuid=device.uuid %}">
    <i class="fas fa-trash-alt" title="Delete device"></i>
</a>

{% if device.is_linked and device.is_controllable %}
<form method="post" class="d-inline change-device-state" action="{% url 'mqtt:publish:toggle' duuid=device.uuid %}">
    {% csrf_token %}
    <button type="submit" class="d-inline btn btn-sm btn-info">
        <i class="fas fa-toggle-on" title="Toggle device state"></i>
    </button>
</form>
{% endif %}