{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<h1><i class="fas fa-sign-out-alt"></i> {% trans "Logout" %}</h1>

<p class="m-3">{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-danger">{% trans 'Logout' %}</button>
</form>


{% endblock %}